<?= $this->doctype()?>
<?php
$children = $this->viewModel()->getCurrent()->getChildren();
$child = $children[0];
?>
<html lang="en">
<head>
<meta charset="utf-8">
            <?= $this->headTitle('ZF Skeleton Application')->setSeparator(' - ')->setAutoEscape(false)?>    
            <?=$this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')->appendHttpEquiv('X-UA-Compatible', 'IE=edge')?>    
            <!-- Le styles -->
            <?=$this->headLink(['rel' => 'shortcut icon','type' => 'image/vnd.microsoft.icon','href' => $this->basePath() . '/img/favicon.ico'])
            
            ->prependStylesheet($this->basePath('plugins/datepicker/datepicker3.css'))->prependStylesheet($this->basePath('css/skins/_all-skins.min.css'))->prependStylesheet($this->basePath('css/AdminLTE.min.css'))->prependStylesheet($this->basePath('plugins/ionicons/css/ionicons.min.css'))->prependStylesheet($this->basePath('plugins/font-awesome/css/font-awesome.min.css'))->prependStylesheet($this->basePath('css/bootstrap.min.css'))?>    
            <!-- Scripts -->
            <?=$this->headScript()
            
            ->prependFile($this->basePath('plugins/datepicker/bootstrap-datepicker.js'))->prependFile($this->basePath('js/app.min.js'))->prependFile($this->basePath('js/bootstrap.min.js'))->prependFile($this->basePath('js/jquery-3.1.0.min.js'))?>
    </head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<?=$this->partial('menu'); ?>
		<?=$this->partial('sidemenu'); ?>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					<?= $child->judul_halaman?><small><?= $child->judul_desk ?></small>
				</h1>				
			</section>
			<!-- Main content -->
			<section class="content">
				<?= $this->content ?>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
</body>
</html>
