<?php
$children = $this->viewModel()
    ->getCurrent()
    ->getChildren();
$child = $children[0];
?>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="<?php echo $this->basepath("img/user-512.png") ?>"
					class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>Alexander Pierce</p>
				<!-- Status -->
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- Sidebar Menu -->
		<ul class="sidebar-menu">
			<li class="header">Navigasi</li>
			<!-- Optionally, you can add icons to the links -->
        <?php if($child->top_setting == 'active'):?>
        	<li class="<?=$child->side_wilayah?>"><a href="<?=$this->url('setting_wilayah') ?>"><i class="fa fa-link"></i> <span>Wilayah</span></a></li>
			<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
		<?php elseif($child->top_pendataan == 'active'):?>
			<li class="<?=$child->side_kepalakeluarga?>"><a href="<?=$this->url('data_kepala_keluarga') ?>"><i class="fa fa-link"></i> <span>Kepala Keluarga</span></a></li>
			<li class="<?=$child->side_anggotakeluarga?>"><a href="<?=$this->url('setting_wilayah') ?>"><i class="fa fa-link"></i> <span>Anggota Keluarga</span></a></li>
        <?php endif;?>
                
      </ul>
		<!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>