<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url('data_kepala_keluarga', array(
    'action' => 'edit'
)));
$frm->setAttribute('class', 'form-horizontal');
$frm->prepare();
echo $this->form()->openTag($frm);
?>
<div class="row">
	<div class="col-md-12">
		<div class="box box-solid box-primary">
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid box-info">
							<div class="box-header">Data Pribadi</div>
							<div class="box-body">
								<div class="col-md-6">
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_wilayahmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formselect($frm->get('t_wilayahmember'))?>                    				
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_wilayahmember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_noregistrasimember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_noregistrasimember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_noregistrasimember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_namamember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_namamember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_namamember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_jeniskelaminmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formselect($frm->get('t_jeniskelaminmember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_jeniskelaminmember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_hubunganmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formselect($frm->get('t_hubunganmember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_hubunganmember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_tempatlahirmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_tempatlahirmember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_tempatlahirmember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_tanggallahirmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_tanggallahirmember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_tanggallahirmember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_alamatjalanmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtextarea($frm->get('t_alamatjalanmember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_alamatjalanmember'))?>
                    				</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_alamatrtmember'))?>
                    				<div class="col-sm-2">
                    				<?=$this->formtext($frm->get('t_alamatrtmember'))?>
                    				</div>
                    				<?=$this->formlabel($frm->get('t_alamatrwmember'))?>
                    				<div class="col-sm-2">
                    				<?=$this->formtext($frm->get('t_alamatrwmember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_alamatrtmember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_alamatkelurahanmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_alamatkelurahanmember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_alamatkelurahanmember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_alamatkecamatanmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_alamatkecamatanmember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_alamatkecamatanmember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_alamatkotamember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_alamatkotamember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_alamatkotamember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_kodeposmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_kodeposmember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_kodeposmember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_telprumahmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_telprumahmember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_telprumahmember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_telphpmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_telphpmember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_telphpmember'))?>
                    				</div>
									</div>
									<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_emailmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_emailmember'))?>
                    				</div>
										<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_emailmember'))?>
                    				</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="box box-solid box-danger">
							<div class="box-header">Data Baptis, SIDI & Nikah</div>
							<div class="box-body">
								<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_tempatbaptismember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_tempatbaptismember'))?>
                    				</div>
									<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_tempatbaptismember'))?>
                    				</div>
								</div>
								<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_tanggalbaptismember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_tanggalbaptismember'))?>
                    				</div>
									<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_tanggalbaptismember'))?>
                    				</div>
								</div>
								<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_tempatsidimember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_tempatsidimember'))?>
                    				</div>
									<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_tempatsidimember'))?>
                    				</div>
								</div>
								<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_tanggalsidimember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_tanggalsidimember'))?>
                    				</div>
									<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_tanggalsidimember'))?>
                    				</div>
								</div>
								<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_tempatnikahmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_tempatnikahmember'))?>
                    				</div>
									<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_tempatnikahmember'))?>
                    				</div>
								</div>
								<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_tanggalnikahmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_tanggalnikahmember'))?>
                    				</div>
									<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_tanggalnikahmember'))?>
                    				</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="box box-solid box-danger">
							<div class="box-header">Lainnya</div>
							<div class="box-body">
								<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_pendidikanmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_pendidikanmember'))?>
                    				</div>
									<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_pendidikanmember'))?>
                    				</div>
								</div>
								<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_pekerjaaanmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_pekerjaaanmember'))?>
                    				</div>
									<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_pekerjaaanmember'))?>
                    				</div>
								</div>
								<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_perusahaanmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_perusahaanmember'))?>
                    				</div>
									<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_perusahaanmember'))?>
                    				</div>
								</div>
								<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_perusahaanalamatmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtextarea($frm->get('t_perusahaanalamatmember'))?>
                    				</div>
									<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_perusahaanalamatmember'))?>
                    				</div>
								</div>
								<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_telpperusahaanmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtext($frm->get('t_telpperusahaanmember'))?>
                    				</div>
									<div class="col-sm-12">
                    				<?=$this->formelementerrors($frm->get('t_telpperusahaanmember'))?>
                    				</div>
								</div>
								<div class="form-group">
                    				<?=$this->formlabel($frm->get('t_keteranganmember'))?>
                    				<div class="col-sm-8">
                    				<?=$this->formtextarea($frm->get('t_keteranganmember'))?>
                    				</div>
									<div class="col-sm-12"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-md-6">
					<?=$this->formhidden($frm->get('t_idmember'))?>
					<?=$this->formhidden($frm->get('t_urutkkmember'))?>
					<?=$this->formhidden($frm->get('t_urutakmember'))?>
					<?=$this->formelementerrors($frm->get('t_keteranganmember'))?>
					</div>
					<div class="col-md-6 text-right">
						<input type="submit" value="Simpan" class="btn btn-primary" /> <a
							href="<?=$this->url('data_kepala_keluarga', ['action' => 'index'])?>"
							class="btn btn-warning">Kembali</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?=$this->form()->closetag() ?>
<script type="text/javascript">
$("#t_wilayahmember").change(function(){
	$.post("/data_kepala_keluarga/generateregistrasi",{t_wilayahmember:$(this).val()},function(data){
		var jd = JSON.parse(data);
		$("#t_urutkkmember").val(jd.t_urutkkmember);
		$("#t_urutakmember").val(jd.t_urutakmember);
		$("#t_noregistrasimember").val(jd.t_noregistrasimember);
	})
})

$('.datepicker').datepicker({
	format: 'dd-mm-yyyy',
	autoclose: true
});
</script>