<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url('setting_wilayah', array(
    'action' => 'edit'
)));
$frm->setAttribute('class','form-horizontal');
$frm->prepare();
echo $this->form()->openTag($frm);
echo $this->formhidden($frm->get('s_idwilayah'));
?>
<div class="row">
	<div class="col-md-12">
		<div class="box box-solid box-primary">
			<div class="box-body">				
				<div class="row">
					<div class="col-md-12">
    					<div class="form-group">
    						<?=$this->formlabel($frm->get('s_kodewilayah')) ?>
    						<div class="col-sm-2">
    							<?=$this->formtext($frm->get('s_kodewilayah'))?>
    						</div>
    						<div class="col-sm-12">
    							<?=$this->formelementerrors($frm->get('s_kodewilayah')) ?>
    						</div>    						    						
    					</div>
    					<div class="form-group">
    						<?=$this->formlabel($frm->get('s_namawilayah')) ?>
    						<div class="col-sm-5">
    							<?=$this->formtext($frm->get('s_namawilayah'))?>
    						</div>
    						<div class="col-sm-12">
    							<?=$this->formelementerrors($frm->get('s_namawilayah')) ?>
    						</div>
    					</div>
    					<div class="form-group">
    						<?=$this->formlabel($frm->get('s_keteranganwilayah')) ?>
    						<div class="col-sm-10">
    							<?=$this->formtextarea($frm->get('s_keteranganwilayah'))?>
    						</div>
    					</div>								
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-md-12 text-right">
						<input type="submit" class="btn btn-primary" value="Simpan" /> <a href="<?= $this->url('setting_wilayah',['action' => 'index'])?>" class="btn btn-warning">Kembali</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?= $this->form()->closeTag($frm)?>