<div class="row">
	<div class="col-md-12">
		<div class="box box-solid box-primary">
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6">
						</div>
						<div class="col-md-6 text-right">
							<a href="<?=$this->url('setting_wilayah',['action' => 'tambah']) ?>" class="btn btn-primary">Tambah</a>
						</div>						
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th class="text-center bg-primary col-md-2">
										Kode Wilayah
									</th>
									<th class="text-center bg-primary">
										Nama Wilayah
									</th>
									<th class="text-center bg-primary col-md-2">
										#
									</th>
								</tr>
							</thead>
							<tbody id="bodyDataTable">
    							<tr>
    								<td colspan="3">Tidak ada data</td>
    							</tr>
							</tbody>
							<tfoot>
        							<tr>
        								<td colspan="3" class="bg-primary">
        									<div class="row">
        										<div class="col-lg-12">
        											<div class="col-lg-4">
        												<label class="control-label">Jumlah Data Ditampilkan</label>
        												<select id="rows" class="text-black">
        													<option value="10">10</option>
        													<option value="20">20</option>
        													<option value="30">30</option>
        												</select>
        											</div>
        											<div class="col-lg-4 text-center">
        												<label class="control-label">Halaman</label>
        											</div>
        											<div class="col-lg-4 text-right">
        												<label class="control-label">Jumlah Data :</label> <label
        													id="total_rows" class="control-label"></label>
        											</div>
        										</div>
        									</div>
        									<div class="row">
        										<div class="col-lg-12 text-center">
        											<div class="col-lg-4 text-center">
        											</div>
        											<div class="col-lg-4 text-center">
        											<button id="btn_back" class="btn bg-yellow"><i class="fa fa-fw fa-step-backward"></i></button>											 
        											<input id="page" class="input-mini text-black" type="text" style="width: 100px; text-align: center" value="1" />
        											<button id="btn_forward" class="btn bg-yellow"><i class="fa fa-fw fa-step-forward"></i></button>
        											</div>
        											<div class="col-lg-4 text-right">
        												<label class="control-label">Jumlah Halaman :</label> <label
        													id="total_page" class="control-label"></label>
        											</div>        											
        										</div>
        									</div>
        								</td>
        							</tr>
        						</tfoot>							
						</table>												
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

$(function() {
	DataGrid(null, $("#page").val(), $("#rows").val());
});

$("#btn_back").click(function() {
	backward();
})

$("#btn_forward").click(function() {
	forward();
})

$("#btn_cari").click(function(){	
	$("#page").val("1");	
	DataGrid(null, $("#page").val(), $("#rows").val());
})

function DataGrid(direction, page, rows) {
	$("#overlaywindow").width("100%");
	$.post("/setting_wilayah/dataGrid", {
		direction : direction,
		page : page,
		rows : rows		
	}, function(data) {
		$("#overlaywindow").width("0%");
		var DataToRender = JSON.parse(data);		
		$("#bodyDataTable").html(DataToRender.HtmlTable);
		$("#page").val(DataToRender.HtmlTablePage);
		$("#total_rows").html(DataToRender.HtmlRowsCount);
		$("#total_page").html(DataToRender.HtmlPage);
	});
}
function backward() {
	DataGrid(1, $("#page").val(), $("#rows").val());
}
function forward() {
	DataGrid(2, $("#page").val(), $("#rows").val());
}

function hapus(a) {
	var tanya = confirm("Hapus data ini?");
	if (tanya) {
		$.post("/setting_wilayah/hapus", {
			id : a
		}, function(data) {
			if (data) {
				DataGrid(null, $("#page").val(), $("#rows").val());
			}
		});
	}
}
</script>